body {
background-color: black;  
height: 1440px;
}
#box1 {
        position: absolute;
        width: 600px;
        height: 400px;
        left: 700px;
        top: 40px;
}
#box2 {
        position: absolute;
        width: 1280px;
        height: 0px;
        left: 75px;
        top: 800px;
        border: solid 5px #ffffff
}
#box3 {
        position: absolute;
        width: 600px;
        height: 400px;
        left: 230px;
        top: 950px;
}
#box4 {
        position: absolute;
        width: 600px;
        height: 400px;
        left: 230px;
        top: 1300px;
}
#box5 {
        position: absolute;
        width: 600px;
        height: 400px;
        left: 230px;
        top: 1470px;
}
#box6 {
        position: absolute;
        width: 600px;
        height: 400px;
        left: 230px;
        top: 1640px;
}
#box7 {
        position: absolute;
        width: 600px;
        height: 420px;
        left: 730px;
        top: 950px;
}
#box8 {
        position: absolute;
        width: 600px;
        height: 400px;
        left: 570px;
        top: 1430px;
}
header {
        position: relative;
        height: 192px;
        margin: 0 auto;  /* position이 relative인 요소를 가운데 배치하는 방법 */
        color: #000000;
        background-color: #ffffff;
    }
    #logo {
        position: relative;
        width: 360px;
        margin: 0 auto;
        padding-top: 32px;
        text-align: center;
        font-family: 'Amarante', cursive;
        font-size: 4.0em;
        font-weight: 700;
        /* background-color: #ffffff; */
    }
    #mainmenu {
        position: absolute;
        width: 400px;
        height: 24px;
        left: 50%; transform: translateX(-50%);
        bottom: 24px;
        text-align: center;
        /* background-color: #fff; */
    }
    #mainmenu > ul {
        display: inline-block;
        margin: 0; padding: 0;
        list-style-type: none;
    }
    #mainmenu > ul a:link,
    #mainmenu > ul a:visited
    {
        text-decoration: none;
        color: #000000;
    }
    #mainmenu > ul a:hover
    {
        text-decoration: underline;
    }
    #mainmenu > ul li {
        float: left;
        padding: 0 24px;
        /* background-color: #fff;
        border: solid 1px #000; */
    }
    #mainmenu > ul li:hover {
        /* background-color: #ffffff; */
    }
    #social {
        position: absolute;
        bottom: 24px;
        right: 8px;
    }
    
    
    /* main 영역 스타일 */
    #item-grid {
        position: relative;
        width: 100%;
        background-image: url(images/image01.jpg);
        background-size: cover;
    }
    .item-container {
        float: left;
        position: relative;
        width: 33.3333333%;
        padding-top: 33.3333333%;
        /*background-color: crimson; */
    } 
    .item {
        position: absolute;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        top: 8px;
        left: 8px;
        overflow: hidden;
        /* background-color: blue; */
    }
    
    .item > img {
        position: absolute;
        top: 0;
        width: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #000000;    
    }
    .item:hover .overlay {
        opacity: 1;
    }  
    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 36px;
        width: 240px;
        height: 40px;
        margin: 0 auto;
        background-color: #000000;
        border-radius: 25px;
    
    }
    .button:hover {
        background-color: #1db954;
    }
    #about {
        position: relative;
        width: 90%;
        max-width: 960px;
        margin: 0 auto;
        padding-bottom: 64px;
        background-color: #ffffff;
    }
    #about h1 {
        margin: 24px 0;
    }
