body {
background-color: black;  
height: 1450px;
}
#box1 {
        position: absolute;
        width: 600px;
        height: 400px;
        left: 700px;
        top: 40px;
}
#box2 {
        position: absolute;
        width: 1280px;
        height: 0px;
        left: 75px;
        top: 800px;
        border: solid 5px #ffffff
}
#box3 {
        position: absolute;
        width: 600px;
        height: 400px;
        left: 60px;
        top: 950px;
}
#box4 {
        position: absolute;
        width: 600px;
        height: 400px;
        left: 615px;
        top: 1010px;
}
#box5 {
        position: absolute;
        width: 600px;
        height: 400px;
        left: 615px;
        top: 1167px;
}
#box6 {
        position: absolute;
        width: 600px;
        height: 400px;
        left: 615px;
        top: 1274px;
}
